<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
    <head>
       	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	    <title>登录系统</title>
        <link rel="stylesheet" type="text/css" href="/javascripts/extjs/resources/css/ext-all.css" />
        <script type="text/javascript" src="/javascripts/extjs/ext-all.js"></script>
        <script type="text/javascript" src="/javascripts/extjs/locale/ext-lang-zh_CN.js"></script>
	    <link rel="stylesheet" type="text/css" href="/stylesheets/css/login.css" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/css/ext_icon.css" />
	    <script type="text/javascript" src="/view/login.js"></script>
    </head>
    <body>
        <div id="hello-tabs" style="display:none;"><img border="0" width="450" height="70" src="/images/login_banner.png" /></div>
    </body>
</html>
